/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
@import "tailwindcss";
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg--color: hsl(180, 100%, 97%);
  --link-color: #012970;
  --bg-opacity: 1;
  --icon-color: #4154f1;
  --green-color: #e0f8e9;
  --orange-color: #ff771d;
  --orange-bg: #ffecdf;
  --bs-blue: #0d6efd;
  --box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-success-dark: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-light-dark: #f3f8fd;
  --bs-dark: #212529;
  scroll-behavior: smooth;
}
/* Dashbaord Nav bar styles */
.dashnav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 200px;
  padding: 10px 30px;
  box-shadow: var(--box-shadow);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  background-color: var(--bs-light);
}
.menu-icons {
  font-size: 25px;
  color: var(--bs-gray-dark);
}
.notification-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 25px;
  color: var(--bs-gray-dark);
}
.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  padding: 40px 30px;
  border-right: 1px solid rgb(240, 234, 234);
}

.logo-sidebar {
  height: 70px;
  width: auto;
  object-fit: cover;
  margin-bottom: 30px;
}
.sidebar-desc {
  display: flex;
  /* align-items: center; */
  gap: 15px;
  color: var(--bs-gray);
}
.sidebar-desc a {
  font-size: 14px;
  text-decoration: none;
  color: var(--bs-gray-dark);
  text-transform: capitalize;
  font-family: "Poppins", sans-serif !important;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.outle-wrapper {
  margin-left: 200px;
  padding: 10px;
  background-color: var(--bs-light);
  height: 90vh;
}

/* Card Design */
.orders-container {
  display: flex;
  width: 100%;
  gap: 20px;
}
.order-content {
  background-color: var(--bs-white);
  padding: 20px;
  border-radius: 7px;
  /* box-shadow: var(--box-shadow); */
  flex-basis: 50%;
  border: 1px solid rgb(237, 242, 249);
}
.order-content h6 {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--bs-gray-dark);
}
.order-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h1-charts {
  font-size: 20px;
  color: var(--bs-gray) !important;
  font-weight: 500;
}

/* Dash content design */
.dash-orders-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  background-color: var(--bs-white);
  border-radius: 7px;
  margin-top: 30px;
  box-shadow: var(--box-shadow);
}
.dash-order-content {
  padding: 20px;
  border-right: 1px solid rgb(237, 242, 249);
  border-bottom: 1px solid rgb(237, 242, 249);
}
.h6-order {
  color: var(--bs-gray);
  font-size: 15px;
  font-weight: 500;
}
.h1-order {
  color: var(--bs-gray-dark);
  font-weight: 500;
  font-size: 21px;
}
.h1-orders-container {
  display: flex;
  gap: 16px;
}
.h1-orders-container h6 {
  font-size: 15px;
  color: var(--bs-gray);
}
.h1-orders-container p {
  font-size: 15px;
  color: var(--bs-green);
}
.sales-wrapper {
  background-color: var(--bs-white);
  height: 85vh;
width: 70%;
  border-radius: 7px;
  padding: 20px;
  box-shadow: var(--box-shadow);
}
.sales-analytics {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin-bottom: 30px;
}
.sales-analytics h3 {
  font-size: 15px;
  color: var(--bs-gray-dark);
  font-weight: 500;
}
.sales-span-wrapper {
  display: flex;
  gap: 20px;
}

/* Orders design */
.recent-orders-container {
  background-color: var(--bs-light);
  margin-top: 30px;
}
.recent-orders-container h1 {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--bs-gray-dark);
}
.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: var(--bs-white);
  box-shadow: var(--box-shadow);
}

.orders-table th,
.orders-table td {
  border-left: 0;
  border-bottom: 1px solid rgb(240, 234, 234);
  padding:  8px;
}

.orders-table th {
  background-color: #fffdfd;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  color: var(--bs-gray-dark);
}
.orders-table td {
  color: var(--bs-gray);
  font-size: 14px;
}
.order-img {
  height: 50px;
  width: 50px;
  border-radius: 4px;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: var(--bs-white);
}

.users-table th,
.users-table td {
  border-left: 0;
  border-bottom: 1px solid rgb(240, 234, 234);
  padding: 10px 8px;
}

.users-table th {
  background-color: #fffdfd;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  color: var(--bs-gray-dark);
}
.users-table td {
  color: var(--bs-gray);
  font-size: 14px;
}
.actions{
  border-bottom: none !important;
  margin-top: 20px;
}
.actions .icon {
  margin: 0 5px;
  cursor: pointer;
}

.view-icon {
  color: #28a745;
}

.edit-icon {
  color: #ffc107;
}

.delete-icon {
  color: #dc3545;
}
.categories-header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 18px;
  margin-bottom: 10px;
}
.categories-header h1 {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.btn-add-category {
  text-decoration: none;
  background-color: var(--bs-gray-dark);
  padding: 5px;
  border-radius: 4px;
  color: var(--bs-white);
}
/* admin settings design */
.admin-settings-wrapper {
  display: flex;
  gap: 40px;
  background-color: var(--bs-white);
  padding: 50px;
}
.admin-content1 {
  flex-basis: 35%;
  border-right: 1px solid lightgrey;
}
.settings-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid lightgrey;
}
.settings-header-desc p {
  font-size: 14px;
}

.settings-login {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(239, 235, 235);
}
.last-login p {
  font-size: 14px;
  color: var(--bs-gray);
}
.last-login h6 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--bs-gray-dark);
}

.personal-information {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(239, 235, 235);
}
.personel-info-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings-icon {
  display: flex;
  gap: 20px;
  align-items: center;
}
.admin-content2 {
  flex-basis: 65%;
}
.admin-content2-header {
  border-bottom: 1px solid rgb(239, 235, 235);
}
.admin-content2-header h1 {
  font-size: 19px;
  text-transform: capitalize;
  color: var(--bs-gray-dark);
  font-weight: 500;
}
.admin-content2-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-bottom: 1px solid rgb(239, 235, 235);
}
.admin-content2-desc p {
  font-size: 14px;
}
.admin-content2-desc h6 {
  color: var(--bs-gray);
}

.dash-puppie-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--bs-white);
  box-shadow: var(--box-shadow);
}
.btn-add-puppie {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--bs-white);
  background-color: var(--bs-gray-dark);
  border-radius: 4px;
}
/* add puppie page disign */
.add-header {
  display: flex;
}
.add-header h1 {
  font-size: 18px;
  margin-left: 20px;
  color: var(--bs-gray-dark);
  font-weight: 500;
  margin-bottom: 10px;
}
.add-puppie-container {
  display: flex;
  gap: 20px;
}
.add-puppie-content1 {
  flex-basis: 70%;
  background-color: var(--bs-white);
  padding: 20px;  
  box-shadow: var(--box-shadow);
}

.add-puppie-content1 h1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--bs-gray-dark);
}
.price-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.price-description label {
  font-size: 14px;
  color: var(--bs-gray-dark);
}
.price-description input {
  outline: 0;
  border: 1px solid lightgrey;
  padding: 7px;
  font-size: 14px;
  border-radius: 4px;
}
.price-description textarea {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  height: 150px;
}
.sex-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.male-sex {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  color: var(--bs-gray-dark);
}
.price-discount {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}
.price1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.price1 label {
  font-size: 14px;
}
.price1 input {
  width: 100%;
  padding: 7px;
  border: 1px solid lightgrey;
  outline: 0;
  border-radius: 4px;
}

.discount1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.discount1 label {
  font-size: 14px;
}
.discount1 input {
  width: 100%;
  padding: 7px;
  border: 1px solid lightgrey;
  outline: 0;
  border-radius: 4px;
}
.add-puppie-content2 {
  flex-basis: 30%;
  padding: 20px;
  background-color: var(--bs-white);
  box-shadow: var(--box-shadow);
}
.main-image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-image-wrapper input {
  padding: 7px;
  border: 1px solid lightgrey;
  outline: 0;
  border-radius: 5px;
}
.main-image-wrapper label {
  font-size: 14px;
  margin-top: 5px;
  color: var(--bs-gray-dark);
}
.main-image {
  width: 100%;
  height: 150px;
  border-radius: 7px;
}
.puppie-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.puppie-category select {
  padding: 7px;
  border: 1px solid lightgrey;
  outline: 0;
  border-radius: 5px;
  width: 100%;
}
.btn-add-puppie2 {
  background-color: var(--bs-gray-dark);
  outline: 0;
  padding: 7px;
  border-radius: 4px;
  border: 0;
  color: var(--bs-white);
  margin-top: 20px;
}
.add-category-wrapper {
  background-color: rgba(169, 165, 165, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.category-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-white);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  z-index: 1000;
  width: 500px;
}
.category-header-times {
  display: flex;
  justify-content: space-between;
  padding: 10px 2px;
  cursor: pointer;
}
.category-header-times h1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--bs-gray-dark);
}
.add-category-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add-category-label input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}
.add-category-label select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}
.add-category-label button {
  background-color: var(--bs-gray-dark);
  padding: 10px;
  outline: 0;
  border: 0;
  color: var(--bs-white);
  border-radius: 4px;
}

.product-center{
text-align: center;
margin-top: 40px;
color: var(--bs-gray);
font-size: 15px;
}
